server_tokens off;

server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;

    location /.well-known/acme-challenge/ {
        root /var/lib/matreshka/acme;
    }

    location / {
        return 404;
    }
}
